<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %}</title>
    {% load static %}
    

    <link rel="stylesheet" href="{% static 'animes/css/common/styles.css' %}">
    <link rel="stylesheet" href="{% static 'animes/css/styles.css' %}">

</head>

<body>
 
    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Animes</a>
            </li>
            <li>
                <a href="{% url 'admin:index' %}">Admin</a>
            </li>
        </ul>
    </nav>

    {% block content %} <!-- Here load pages content -->
    {% endblock %}
</body>

</html> 