{% extends 'animes/layouts/base.html' %}
{% load static %}
{% block title %}Myanilog{% endblock %}
{% block content %}






<main>

    <h1>Animes List</h1>

    <div class="anime-cards">

        {% for anime in animes %}

        <div class="anime-card">
            <img src="{{ anime.image_url }}" alt="{{ anime.title_romaji }} cover" class="anime-image">
            <h2>{{ anime.title_romaji }}</h2>
            <p>Genres: {{ anime.genres }}</p>


            {% empty %}
            <p>Nothing here.</p>
            {% endfor %}

        </div>

    </div>

</main>



{% endblock %}