{% extends 'animes/layouts/base.html' %}
{% load static%}
{% block title %}Anime List{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'animes/css/styles.css' %}">
    <title>Animes list</title>
</head>

<body>

    <h1>Animes list</h1>

    <main>

        <ul>
            {% for anime in animes %}


            <li>{{ anime.title_romaji }} - {{ anime.genre }}</li>

            {% empty %}
            <li>Nothing here .</li>
            {% endfor %}
        </ul>

    </main>
</body>

</html>

{% endblock %}