{% extends 'core/layouts/base.html' %}
{% load static %}
{% block title %}#name#{% endblock %}
{% block content %}

{% block styles %}
<link rel="stylesheet" href="{% static 'animes/css/animes_styles.css' %}">
{% endblock %}

<main>

    <h1>Animes List</h1>

    <div class="anime-cards">

        {% for anime in all_animes %}

        <div class="anime-card">
            <img src="{{ anime.cover_image.url }}" alt="{{ anime.title_romaji }} cover" class="cover-image">
            <h2>{{ anime.title_romaji }}</h2>
            <p>Genres: {{ anime.genres }}</p>

    
            {% empty %}
            <p>No animes available.</p>
            {% endfor %}

        </div>


        


    </div>

</main>



{% endblock %}