:root {
    --card-heigth: 300px;
    --card-width: calc(var(--card-heigth) / 1.5);
    --card-image-heigth: 400px;
    --card-image-width: calc(var(--card-heigth) / 1.5);
}





 

.content-container {
    columns: 300px;

}









.anime-card {
    display: flex;
    flex-direction: column;

}

.anime-card a {

    text-decoration: none;
    color: inherit;
}

.anime-card img {
    max-width: var(--card-image-width);
    max-height: var(--card-image-heigth);
    padding: 40px;

}


.anime-card {
    display: flex;

    flex-direction: column;

    align-items: center;

    width: 100%;

    max-width: 300px;

    margin: 0.5rem;

    border-radius: 5px;

    overflow: hidden;

    background-color: blue;
}

.anime-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    perspective: 1000px;

}

.anime-card {
    position: relative;

    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform-style: preserve-3d;

}

.anime-card:hover {
    transform: rotateY(15deg) rotateX(5deg);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

}

.anime-card img {
    width: 100%;
    height: auto;

}



.anime-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

.anime-genre,
.anime-card p {
    padding: 0 15px;
    font-size: 14px;
    color: #555;
}

.anime-card a {
    color: inherit;
    text-decoration: none;
}

.anime-card p {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.anime-card:hover p {
    opacity: 1;
}