/*   Only animes load contents styles here   */


.anime-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;

}

.anime-card {
    max-width: 300px;
    background-color: red;
}